<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="mainContainer">


    <h1><%= event.title %></h1>
    <p><%= event.description %> </p>

    <a href="/events/delete/<%=event.id%>" id="deleteEvent">Delete Event</a>
  </div>
</body>
</html>
