<!DOCTYPE html>
<html lang="en" class="login-bg">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="fullWidthContainer">
    <div class="loginContainer">
      <h2>Welcome to EventPlanner!</h2>
      <div id="loginFacebookLink">
        <a href="/auth/facebook"><span>Login With Facebook   </span><i class="fa fa-facebook-official fa-2x" id="facebook" aria-hidden="true"></i></a>
      </div>


      <form action="/login" method="post" id="loginForm">
        <input type="text" name="username" value="" placeholder="username" required>
        <input type="password" name="password" value="" placeholder="password" required>
        <input type="submit" name="" value="Log in">
      </form>
      <div class="signupLink" style="margin-top:0px;font-size:12px;color:#4c688b">
        <span>Don't have an account? Sign up </span><a href="/signup" style="color: #4c688b;font-weight:600;" class="underline-hover">HERE</a>
      </div>

    </div>


  </div>

</body>

</html>
