html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: #D6DADC;
    color:#555758;
    font-family: 'Roboto','PT Serif',Helvetica,Arial,sans-serif;
     word-spacing: 2px;
}

html{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-bg, .signup-bg {
  background: url(/images/login.jpeg) no-repeat center center fixed;
  background-color: transparent;
}

a{
  text-decoration: none;
  color:#555758;
}
a:visited{
  color:#555758;
}
.underline-hover:hover{
  text-decoration: underline;
}

input[type="submit"]{
  background-color: #4C688B;
  color: white;
  border-radius: 7px;
  border-color: transparent;
}
input[name="name"]{
  outline:none;
}
form input{
  display: block;
  margin: 10px 0;
}

#userInfo{
  width:100%;
  height:45px;
  position: absolute;
  top:0;
  right:0;
  left:0;
  margin:0;
  margin-bottom: 5px;
  background-color: #4C688B;
}
#userInfo h1{
  display: inline-block;
  margin-top:2px;
  margin-left:10px;
  color: white;
}
#userInfo a{
  float:right;
  margin-top: 5px;
  margin-right:10px;
  color:white;
}
#userContainer{
  height:30px;
  margin-bottom:10px;
}
#userCalendars{
  display:inline-block;
  width:21%;
  height:30%;
  margin:0;
  margin-top: 40px;
  background-color: #D6DADC;
  float:left;
  padding-left: 10px;

}
#calendarsContainer{
  width:100%;
  height:300px;
  background-color: #D6DADC;
  overflow: scroll;
}
#calendarsContainer ul{
  text-decoration: none;
  padding:0;
}
#calendarsContainer li{
  display: inline-block;
  /*width: 60%;*/
  /*margin:10px auto;*/
  margin:5px 5px;
  float:left;
  border-radius: 5px;
  list-style-type: none;
  background-color: #4C688B;
  text-align: center;
  padding: 5px;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
}
#calendarsContainer li a{
  color:#c9d1dc;
}
#calendarsContainer li.active{
  background-color: #c9d1dc;
}
#calendarsContainer .active a{
  color:#4C688B;
}
#addCalendar{
  width:100%;
  height:250px;
  background-color: #D6DADC;
  padding:5px;
}
#addCalendar h3{
  margin:7px 0;
}
#addCalendar h2{
  margin: 0 0 10px 0;
  text-decoration: underline;
}
#addCalendarButton{
  color:#c9d1dc;
  padding: 3px 6px;
  border-color: transparent;
}
#joinCalendarContainer{
  width: 60%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
#joinCalendarContainer input{
  width:100%;
}
#joinCalendarButton{
  color:#c9d1dc;
  padding: 3px 6px;
  border-color: transparent;
}
#joinCalendarContainer p{
  color:#A63A4B;
  margin-top: 10px;
}
#calendarUsers{
  width:100%;
  height:400px;
  /*background-color: blue;*/
  background-color: #D6DADC;
}
#calendarUsers h2{
  text-decoration: underline;
}
.fullWidthContainer{
  width:100%;
  margin:0;
}
.mainContainer{
  display:inline-block;
  width:77%;
  margin:0;
  margin-top:40px;
  float:left;
  padding-right:10px;
  padding-top: 25px;
  background-color: #D6DADC;
}
.addEvent{
  margin: 25px;
}


thead td{
  background-color: #4C688B;
}
tbody td{
  background-color: #D6DADC;
  cursor: pointer;
}
.fc-unthemed td{
  border-color: #748BA7;
}
.fc-unthemed td.fc-today{
  background-color: #4C688B;
}
span.fc-title{
  color:white;
}
a.fc-event{
  background-color: #143054;
  padding:2px;
}
div.fc-popover .fc-header{
  background-color: blue;
}
#calendar_identifier{
  color:#A63A4B;
  margin:4px 40px;
}
#overlay{
  position: fixed;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
  top:0;
  left:0;
}
#modal{
  position: fixed;
  width:60%;
  height:80%;
  background-color: #D6DADC;
  z-index: 100;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:10px;
  border-radius: 5px;
  overflow: scroll;
}
#closeModal{
  position: absolute;
  top:10px;
  right:10px;
}
#modalTitle{
  color:#4C688B;
}
#modalDescription{
  width: 80%;
  padding:10px;
  margin: 10px auto;
  background-color: #4C688B;
  color: #f5f5f5;
}
#modalDescription p{
  margin:0;
}
#modal #modalTitle{
  text-align: center;
}
#addComment{
  width:80%;
  margin:20px auto;
}
#addComment input, #addComment textarea{
  display: block;
  margin:10px auto;
}
.comment{
  width:80%;
  padding:10px;
  margin: 20px auto;
}
.commentAuthor, .commentDate{
  padding: 0px 5px;
  display: inline-block;
  font-size: 0.8em;
}
.commentAuthor{
  float:left;
}
.commentDate{
  float:right;
}
.commentContent{
  border-top: 1px solid #555758;
  clear:both;
  padding: 0px 10px;
}
.commentContent p{
  margin: 0px;
}
/*event page*/
#deleteEvent{
  color:red;
}

[tooltip]:before {
    position : absolute;
     content : attr(tooltip);
     font-size: 0.8em;
     opacity : 0;
     width:200px;
     transition: all 0.15s ease;
     padding: 5px 10px;
     color: #4C688B;
     border-radius: 10px;
     box-shadow: 2px 2px 1px silver;
}
[tooltip]:hover:before {
    opacity : 1;
    background: #c9d1dc;
    margin-top: 30px;
}

/*login page  and signup page*/

.loginContainer, .signupContainer{
  position: fixed;
  top: 40%;
  left: 50%;
  width:30%;
  background-color: white;
  /*color: white;*/
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
}
#loginFacebookLink{
  height: 30px;
  display: table;
  width: 100%;
}
#loginFacebookLink span{
  vertical-align: middle;
  display: table-cell;
  padding-right: 15px;
}
#facebook{
  color:#3B5998;
}
#loginForm input, #signupForm input{
  width:100%;
}
#signupForm h3{
  margin: 2px;
}
